/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


#img {
    padding-top: 20px;
    max-width: 100%;
    height: auto;
}
